/* CSS Reset */
* {
  margin: 0;
  padding: 0;
  border: 0;
  list-style: none;
  vertical-align: baseline;
  font-family: sans-serif;
}

body {
  background-color: lightgrey;
}

:focus {
   outline: 0;
}

a {
  text-decoration: none;
}

/* Navbar */
.navbar {
  height: 50px;
  width: 100%;
  background-color: #555;
  font-size: 17px;
  vertical-align: center;
}
.navbar .title {
  float: left;
  padding: 15px;
}
.navbar .title a {
  padding: 15px;
  color: white;
}
.navbar .title a:hover {
  color: white;
  background-color: #666;
}
.navbar .links {
  float: right;
  padding: 15px;
}
.navbar .links a {
  padding: 15px;
  color: #cecb30;
}
.navbar .links a:hover {
  color: #f9f639;
  background-color: #666;
}

/* Carousel */
.carousel .loading {
  color: #5d5d5d;
  font-size: 2em;
  margin: 20px;
}

/* Movies */
.movies {
  width: 100%;
  white-space: nowrap;
  overflow-x: auto;
}
.movies .movie-item {
  display: inline-block;
}

.movie {
  width: 214px;
  padding: 10px;
}
.movie .folder {
  display: block;
}
.movie .folder img {
  width: 214px;
  height: 317px;
  border: 3px solid #888888;
  box-shadow: 0 0 7px 3px #888888;
}
.movie .folder .selected {
  border: 3px solid #ffffff;
  border-radius: 3px;
}
.movie .title {
  text-overflow: ellipsis;
  overflow: hidden;
  color: #5d5d5d;
  font-size: 0.9em;
}

/* Player */
.player {
  max-width: 640px;
  margin: 0 auto;
}
.player h1 {
  color: #5d5d5d;
  font-size: 2em;
  margin: 10px 0 20px 0;
}
.player .video-js {
  width: 100%;
  height: auto;
  margin: 0 auto;
}
