/* CSS Reset */
* {
  margin: 0;
  padding: 0;
  list-style: none;
  vertical-align: baseline;
  font-family: sans-serif;
}

body {
  background-color: lightgrey;
}

:focus {
   outline: 0;
}

a {
  text-decoration: none;
}

/* Navbar */
.navbar {
  height: 50px;
  width: 100%;
  background-color: #555;
  color: white;
  font-size: 17px;
  vertical-align: center;
}
.navbar .title {
  float: left;
  padding: 15px;
}
.navbar .links {
  float: right;
  padding: 15px;
}
.navbar .links a {
  padding: 15px;
  color: #cecb30;
}
.navbar .links a:hover {
  color: #f9f639;
  background-color: #666;
}

/* Movie */
.movies {
  width: 450px;
  white-space: nowrap;
  border: 2px solid green;
  overflow-x: auto;
}
.movies .movie-item {
  width: 214px;
  height: 317px;
  border: 1px solid red;
  display: inline-block;
}
.selected {
  border: 1px solid blue;
}
